{% extends "base.html" %}

{% block content %}

    <style>
        .large-front-thumbnail {
            position: relative;
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
        .btn-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 20px auto;
        }

        .btn-container .btn {
            margin-bottom: 10px;
            text-align: center;
        }

        .btn-primary {
            background-color: #363a3f; /*  Background color */
            border-color: #000000; /*  Border color */
        }
        .btn-primary:hover {
            background-color: #676A75; /*  Background color when the user interact */
            border-color: #000000; /*  Border color when the user interact */
        }

    </style>
    <div class="row">
        <div class="col">
            <div class="card">
                <img class="large-front-thumbnail"
                     src="{{ 'static/imagenet_subset/'+image_id }} "
                     alt={{ image_id }}/>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="row">
                    <canvas id="classificationOutput" style="width: 50%; margin: auto; padding: 20px;"></canvas>
                    <div class="align-items-center">
                        <h2 id="waitText"></h2>
                        </div>
                    </div>
                </div>
                <div class="btn-container">
                <a class="btn btn-primary" href="/classifications" role="button">Back</a>
                <a class="btn btn-primary" href="/download_json?classification_scores={{ classification_scores }}" role="button">Download JSON</a>
                <a class="btn btn-primary" href="/download_graph?classification_scores={{ classification_scores }}" role="button">Download Graph</a>
                </div>
        </div>
    </div>
    <script src="{{ "static/graph.js" }}" id="makeGraph" classification_scores="{{classification_scores}}"></script>
{% endblock %}
