{% extends "base.html" %}

{% block content %}

    <style>
        .large-front-thumbnail {
            position: relative;
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

        .btn-primary {
            background-color: #363a3f;
            border-color: #000000;
        }
        .btn-primary:hover {
            background-color: #676A75;
            border-color: #000000;
        }

        /* Stile per l'immagine a destra */
        .smaller-thumbnail {
            max-width: 80%; /* Riduce la larghezza dell'immagine */
            height: auto;
            display: block;
            margin: 0 auto;
        }

        /* Stile per il contenitore del bottone */
        .button-container {
            width: 80%; /* Larghezza uguale all'immagine */
            margin: 10px auto 0; /* Margine superiore, centrato */
        }
    </style>

    <div class="row">
        <div class="col">
            <div class="card">
                <img class="large-front-thumbnail"
                     src="{{ 'static/imagenet_subset/'+image_id }}"
                     alt="{{ image_id }}"/>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="smaller-thumbnail"
                     src="{{ 'static/enhanced_images/enhanced_'+image_id }}"
                     alt="{{ image_id }}"/>
                <div class="button-container">
                    <a class="btn btn-primary btn-block" role="button" onclick="confirmBack()">Back</a>
                </div>
            </div>
        </div>
    </div>

    <script>

        var imageId = "{{ image_id }}";


        function confirmBack() {

            if (confirm("Do you want to save the enhanced image?")) {
                window.location.href = "/transformation";
            } else {

                fetch("/delete_image?image_id=" + encodeURIComponent(imageId))
                    .then(response => {
                        if (response.ok) {
                            alert("The image has not been saved");
                            window.location.href = "/transformation";
                        } else {
                            alert("Error while deleting the image.");
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        alert("Error while deleting the image.");
                    });
            }
        }
    </script>

{% endblock %}

