{% extends "base.html" %}

{% block content %}

<h1>Select Model and Upload Image</h1>

<form method="post" enctype="multipart/form-data" novalidate onsubmit="return validateForm();">
    <h4>Model:</h4>
    <p>
        <select name="model_id">
            {% for model in models %}
              <option value="{{ model }}" SELECTED>{{ model }}</option>
            {% endfor %}
        </select>
    </p>
    <h4>Image:</h4>
    <input type="file" name="file_image" id="image_upload" onchange="upload()">

    <input type="hidden" name="image_id" id="hidden_image_id">

    <button type="submit" class="btn btn-dark mb-2">Submit</button>
</form>

<script>
    function upload() {
        const form = document.querySelector('form');
        const fileInput = document.getElementById('image_upload');
        const hiddenInput = document.getElementById('hidden_image_id');
        if (fileInput.files.length > 0) {
            form.action = "/upload";
            hiddenInput.value = fileInput.files[0].name;
        }
    }

    function validateForm() {
        const fileInput = document.getElementById('image_upload');
        if (fileInput.files.length === 0) {
            alert("Devi caricare un file prima di inviare il form.");
            return false;
        }
        return true;
    }
</script>

{% endblock %}